#imagen-1{
    width: 100px;
    height: 100px;
    display: none;
}

#imagen-2{
    width: 100px;
    height: 100px;
    display: none;
}

#imagen-3{
    width: 100px;
    height: 100px;
    display:none;
}